.editForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-between;
    padding: 20px;
    border:2px black solid;


}
h3 {
    font-weight:bolder; 
}
option {
    text-align: center;
}