.page-cont {
    display: flex;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
}


.default-img {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.myacct-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.photos {
    display: flex;
    gap:10px;
}

.profile-img {
    width: 90%;
}

.bioprefCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acctBio {
    margin: 0 auto;
    width: 60%;
}
