.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
float: left;
width: 600px;
}

.daily-matches {
display: flex;
justify-content: space-around;
}

.daily-match {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dm-img {
  width: 100px;
}

.dm-bio {
  text-align: center;
}

