.App {
  text-align: center;
}

.body {
  width: 90%;
  margin: 0 auto;
}

.notmobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile {
  display: none;
}

.page-title {
  text-align: center;
}

nav { 
  text-align: center;
}

.homeLink {
  text-decoration: none;
  color: black;
}

.lr-cont {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

/* 
.lr-cont {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.right {
  width: 40%;
}

.left {
width: 60%;
} */

.comp-title, .love-title, .horo-title {
  text-align: center;
}

.love-horo, .daily-horo {
  width: 80%;
  margin: 0 auto;
}

.daily-matches {
display: flex;
justify-content: space-around;
}

.daily-match {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dm-img {
  width: 70%;
}

.dm-bio {
  text-align: center;
}

.horonav {
  display: flex;
  justify-content: space-evenly;

}

.horolink {
  cursor: pointer;
}

.footer {
  height: 100px;
}


/* iPads (portrait) ----------- */
@media only screen and (max-width : 1024px) {
  .lr-cont {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    gap: 10px;
  }

  .left {
    width: 100%;
  }

  .right {
    /* margin: 0 auto; */
    width: 100%;
  }

  .daily-horo {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
  }

  .horo-title, .love-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .daily-matches {
    width: 90%;
    margin: 0 auto;
  }

  .love-horo {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
  }
}


/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (max-width : 450px) {

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .notmobile {
    display: none;
  }

  .page-title {
    text-align: center;
    margin-bottom: 10px;
  }

  nav {
    font-size: 15px;
  }

  .horo-title, .love-title {
    margin-bottom: 5px;
  }

  .daily-horo, .love-horo {
    text-align: justify;
  }

  .lr-cont {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    gap: 0px;
  }

  .right {
    /* margin: 0 auto; */
    width: 100%;
  }

  .daily-matches {
    gap: 10px;
    }


  .dm-img {
    width: 100%;
  }

  .dm-bio {
    width: 100%;
    font-size: 10px;
  }

}

/* Smartphones (portrait) (ie: Galaxy 1) */
@media only screen and (max-width : 300px) {
  .page-title {
    font-size: 25px;
  }

  nav {
    font-size: 12px;
}

.horo-title, .love-title {
  font-size: 15px;
}

.daily-horo, .love-horo {
  font-size: 13px;
}

}