.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lr-cont {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.right {
  width: 500px;
}

.daily-horo {
  margin-right: 50px;
}

.left {
width: 800px;
}

.love-horo {
  margin-left: 50px;
  margin-right: 50px;
}

.daily-matches {
display: flex;
justify-content: space-around;
}

.daily-match {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dm-img {
  width: 100px;
}

.dm-bio {
  text-align: center;
}

